body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
legend,
button form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
/* 酌情修改 */
body {
  background: #fff;
}
/* 短引用的内容可取值：''或"" */
q:before,
q:after {
  content: ”;
}
/* 缩写，图片等无边框 */
fieldset,
img,
abbr,
acronym {
  border: 0 none;
}
abbr,
acronym {
  font-variant: normal;
}
legend {
  color: #000;
}
/* 清除特殊标记的字体和字号 */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
/* 上下标 */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
/* 设置表格的边框被合并为一个单一的边框, 指定分隔边框模型中单元格边界之间的距离为0*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 表格标题及内容居左显示 */
caption,
th {
  text-align: left;
}
input,
img,
select {
  vertical-align: middle;
}
/* 清除列表样式 */
ol,
ul {
  list-style: none;
}
/* 输入控件字体 */
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
/* 标题元素样式清除 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
/* 链接样式，颜色可酌情修改 */
del,
ins,
a {
  text-decoration: none;
}
a:link {
  color: #009;
}
a:visited {
  color: #800080;
}
a:hover,
a:active,
a:focus {
  color: #c00;
  text-decoration: underline;
}
/* 鼠标样式 */
input[type="submit"] {
  cursor: pointer;
}
button {
  cursor: pointer;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.content {
    background: url('../images/bg.png') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  font-size: 2rem;
  font-weight: bold;
  -webkit-box-orient: vertical;
  font-family: 微软雅黑;
  background-color: #50a2ce;
}
.content .content_head {
  -webkit-box-flex: 2;
  position: relative;
   
  z-index: 0;
}
.content .content_head .share {
  background: url('../images/wxshare.png') no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  height: 110%;
  position: absolute;
  width: 80%;
  left: 20%;
}
.content .content_head .share .share_txt {
  position: absolute;
  top: 90%;
  color: #fff;
  font-size: 0.45em;
  margin-left: 8px;
}
.content .content_head .content_man {
  -webkit-transition: left .5s ease .1s;
  transition: left .5s ease .1s;
  z-index: 1;
  position: absolute;
  left: 5%;
  bottom: 0px;
}
.content .content_head .content_wnman {
  z-index: 1;
  position: absolute;
  left: 65%;
  bottom: 0px;
}
.content .content_head .content_head_bg { 
  
  bottom: -2px;
  height: 27px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.content .content_body {
  
  -webkit-box-flex: 1.7;
 
  z-index: 999;
  
}
.content .content_body .content_txt {
  background: url('../images/content_txt.png') no-repeat;
  background-size: 100% 100%;
  width: 320px;
  height: 126px;
  margin: 0 auto;
  position: absolute;
  margin-top: -65px;
  left: 50%;
margin-left: -160px;
}
.content .content_body .content_body_txt {
  width: 67%;
  height: 50px;
  margin: 5px auto;
 
  font-size: 0.4em;
  text-align: center;
  margin-bottom: 5px;
  position: absolute;
left: 17%;
top: 20%;
padding-left: 5px;
}
.content .content_body .btns {
  margin: 0 auto;
  width: 85%;
  height: 100px;
  position: absolute;
  left:7.5%;
  top: 75%;
}
.content .content_body .btns .content_btn1 {
  background: url('../images/menggong.png') no-repeat;
  float: left;
  background-size: 100% 100%;
  width: 120px;
  height: 93px;
  display: block;
}
.content .content_body .btns .content_btn2 {
  background: url('../images/qiaoqu.png') no-repeat;
  float: right;
  background-size: 100% 100%;
  width: 120px;
  height: 93px;
}
.content .content_pop {
  font-size: 0.7rem;
  color: #fff;
  display: block;
  float: right;
position: absolute;
left: 37%;top: 88%;
 
}
.content .content_fooder {
  height: 0%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-flex: 3;
  width: 90%;
  background: url('../images/footer_bg.png') no-repeat;
  background-size: 100% 100%;
  background-color: #fff282;
  margin: 0 auto;
}
.content .content_fooder2 {
  height: 0%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-flex: 1;
  width: 90%;
  background-size: 100% 100%;
  background-color: #fff282;
  margin: 0 auto;
}
#scuress{
  position: absolute;
  top:45%;
  margin: 0 auto;
  width: 100%;
  display: none;text-align: center;
}
#downs{
position: absolute;
top: 85%;
width: 100%;
text-align: center;
display: none;
}
#reStart{
  display: none;
    background: url('../images/reStartBtn.png') no-repeat;
   
     background-size: 100% 100%;
     width:280px;height:68px;
      
      text-align: center;
      color:#fff;
      left: 50%;
margin-left: -140px;
      position: absolute;
}
#scuress_img{
margin: 0 auto;
width: 240px;
left: 50%;
margin-left: -120px;
position: absolute;
margin-top:70px;
}
.content_img{
    position:relative;
    width: 100%;
    height: 100%;
    background: url('../images/1.png') no-repeat;
    background-size: 100% 100%;
}
#content_img1{
    position:relative;
    width: 100%;
    height: 100%;
    background: url('../images/1.png') no-repeat;
    background-size: 100% 100%;
}
#content_img2{
    position:relative;
    width: 100%;
    height: 100%;
    background: url('../images/1.png') no-repeat;
    background-size: 100% 100%;
}
#content_img3{
    position:relative;
    width: 100%;
    height: 100%;
    background: url('../images/1.png') no-repeat;
    background-size: 100% 100%;
}